<mat-card>
  <mat-card-header>
    <div class="article-meta">
      <a routerLink="/">
        <img src="{{articleItem.author.image}}" alt="">
      </a>
      <div class="info">
        <mat-card-title>
          <a routerLink="/@{{articleItem.author.username}}" >
            {{articleItem.author.username}}
          </a>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </div>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon aria-label="Favorite button">favorite</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>
      <a routerLink="">
        {{articleItem.title}}
      </a>
    </mat-card-title>
    <mat-card-subtitle>{{articleItem.description}}</mat-card-subtitle>
  </mat-card-content>
</mat-card>