<nav class="navbar navbar-light">
  <div class="container">
    <mat-toolbar>
      <a class="navbar-brand" routerLink="/">conduit</a>
      <span class="spacer"></span>
      <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
      <a routerLink="/editor" routerLinkActive="active" class="nav-link">
        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
        New Article
      </a>
      <a routerLink="/settings" routerLinkActive="active" class="nav-link">
        <mat-icon>settings</mat-icon>
        Settings
      </a>
      <a routerLink="/" routerLinkActive="active" class="nav-link">
        <img class="user-pic" src="" alt="">
        Settings
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</nav>